/* ============================================================== 
     # All Common Css
=================================================================== */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol {
    list-style-type: none;
    padding: 0;
}

a,a:hover {
    text-decoration: none;
    display: inline-block;
    transition: all 0.35s ease-in-out;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5, h6, p {
	color: var(--color-heading);
	font-weight: normal;
	line-height: 1.2;
	font-family: var(--font-default);
	letter-spacing: 0;
	margin: 0;
    font-weight: 700;
    transition: all 0.35s ease-in-out;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 27px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

a, .btn, button {
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	outline: medium none;
	text-decoration: none;
    color: #000000;
}

.row {
	--bs-gutter-x: 30px;
}

.align-center {
	align-items: center;
}


.progress-wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
}

.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: "\f077";
	text-align: center;
    font-family: "Font Awesome 5 Pro";
	line-height: 46px;
	font-size: 24px;
	color: #ffa300;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::after {
	opacity: 0;
}

.progress-wrap::before {
	position: absolute;
	content: "\f077";
    font-family: "Font Awesome 5 Pro";
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
    color: #ffa300;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
	opacity: 1;
}

.progress-wrap svg path { 
	fill: none; 
}

.progress-wrap svg.progress-circle path {
	stroke: #ffa300;
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Onest:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

/* Varialbes */
:root {
	--font-default: 'Yanone Kaffeesatz', sans-serif;
	--font-heading: 'Roboto', sans-serif;
	--fontawesome: "Font Awesome 5 Pro";
	--black: #000000;
	--dark: #0e2769;
	--dark-secondary: #ffa300;
	--white: #ffffff;
	--color-primary: #ff014f;
	--color-secondary: #9c00ff;
	--color-style-two: #B700C4;
	--color-style-three: #FF9B0D;
	--color-heading: #0e0e0e;
	--color-paragraph: #666666;
	--box-shadow-primary: -1px 3px 10px 0 rgba(0, 0, 0, 0.6);
	--box-shadow-secondary: 0 10px 30px 0 rgba(44, 130, 237, 0.4);
	--box-shadow-regular: 0px 2px 12px 0px #e7e7e7;
	--bg-gray: #eff6fe;
	--bg-gradient: linear-gradient(90deg, var(--color-primary)  0%, var(--color-secondary) 100%);
	--bg-gradient-secondary: linear-gradient(0deg, var(--color-primary)  0%, var(--color-secondary) 100%);
	--bg-gradient-two: linear-gradient(90deg, var(--color-style-two)  0%, var(--color-style-three) 100%);
}

/* ============================================================== 
     # Start Navbar Css
=================================================================== */

ul.header-social li i {
    background: var(--color-style-three);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 50%;
}

ul.header-social {
    margin: 0;
    align-items: center;
}

ul.header-social li h5 {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 5px;
}

/* ============================================================== 
     # Start Banner Css
=================================================================== */

.banner-style-one-area .swiper-slide {
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.banner-style-one-area .swiper-slide::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #0e2769; 
    opacity: 0.3;
    content: "";
    z-index: 2; 
}

.banner-style-one-area .swiper-slide video {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-style-one-area .banner-style-one-item {
    position: relative;
    z-index: 3;
    color: #fff;
}

.banner-style-one-item h1 {
    color: var(--white);
    font-size: 65px;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 15px;
}

.banner-style-one-item h1 span {
    color: var(--color-style-three);
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-style-three);
    
}

.banner-style-one-item p {
    color: white;
    line-height: 1.9;
    font-size: 20px;
    font-weight: 400;
    padding-right: 71px;
    padding-bottom: 20px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);
}

.btn-theme {
    background: var(--color-style-three);
    padding: 12px 30px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--white);
}

.banner-style-one-area .swiper-button-prev::after {
    display: none;
}

.banner-style-one-area .swiper-button-prev::before {
    position: absolute;
	left: 20px;
	top: 30px;
	content: "\f104";
	font-family: "Font Awesome 5 Pro";
	font-size: 50px;
	font-weight: 600;
	color: var(--white);
}

.banner-style-one-area .swiper-button-next::after {
    display: none;
}

.banner-style-one-area .swiper-button-next::before {
    position: absolute;
	right: 20px;
	top: 30px;
	content: "\f105";
	font-family: "Font Awesome 5 Pro";
	font-size: 50px;
	font-weight: 600;
	color: var(--white);
}
